In [5]:
from selenium import webdriver
from bs4 import BeautifulSoup as bs
from IPython.display import display
import pandas as pd
import time

## 댓글

In [6]:
driver = webdriver.Chrome()
driver.get('https://news.v.daum.net/v/20210815063015157')
time.sleep(3)

html = driver.page_source
soup = bs(html, 'html.parser')

driver.close()

In [7]:
cmt_count = soup.select('#alex-header > em')
cmt_box = soup.select('#alex-area > div > div > div > div.cmt_box > ul.list_comment > li > div')
cmt_box

print(f'댓글: {cmt_count[0].text}')

cmts = []
for cmt in cmt_box:
    author = cmt.select('strong > span > a > span:nth-child(2)')[0].text
    txt = cmt.select('p')[0].text.replace('\n', ' ')
    cmts.append([author, txt])
    
df = pd.DataFrame(cmts, columns=['작성자', '댓글'])
df

댓글: 140

     작성자                                                 댓글
0  가을의전설  아무리 그래도 중국폰은 돈주고 안산다... 아이폰도 써봤지만 그냥 삼성폰이 제일 문...
1   ABBA  쓰레기폰을  명품가격으로  바가지 글로벌 판매량  절반으로  뚝 떨어졌다는 외신보도...
2  고양이탐정                  한국 고객을 호구로 보는 샘성 가격차이 사양차이가 너무 심해

## 댓글 더보기

In [15]:
# options = webdriver.ChromeOptions()
# options.headless = True

# driver = webdriver.Chrome(options = options)
driver = webdriver.Chrome()
driver.get('https://news.v.daum.net/v/20210815063015157')
time.sleep(3)

more_btn = driver.find_element_by_xpath('//*[@id="alex-area"]/div/div/div/div[3]/div[3]/button')
more_btn.click()
time.sleep(3)

html = driver.page_source
soup = bs(html, 'html.parser')
driver.implicitly_wait(3)
driver.close()

In [16]:
cmt_count = soup.select('#alex-header > em')
cmt_box = soup.select('#alex-area > div > div > div > div.cmt_box > ul.list_comment > li > div')
# print(len(cmt_box))

cmts = []
for cmt in cmt_box:
    author = cmt.select('strong > span > a > span:nth-child(2)')[0].text
    txt = cmt.select('p')[0].text.replace('\n', ' ')
    cmts.append([author, txt])
    
df = pd.DataFrame(cmts, columns=['작성자', '댓글'])
df

# display(df)

               작성자                                                 댓글
0            가을의전설  아무리 그래도 중국폰은 돈주고 안산다... 아이폰도 써봤지만 그냥 삼성폰이 제일 문...
1            고양이탐정                  한국 고객을 호구로 보는 샘성 가격차이 사양차이가 너무 심해
2                굿       잘 만들어야지....혁신은 없고...국민들 빨대꼽고 빨아 지금까지 온거지....
3              강성현  이재용이 삼성 경영에 나서기 시작한 이후 스맛폰이 서서히 맛가기 시작했음. 이재용 ...
4               벅수                                      왕좌에서 크게 웃고 간다
5             ABBA  쓰레기폰을  명품가격으로  바가지 글로벌 판매량  절반으로  뚝 떨어졌다는 외신보도...
6  핀볼과 맥주 그리고 주크박스  LG가 스마트폰 사업 철수한 가장 결정적 이유가 바로 중국 스마트폰 업체들 때문이지...
7          ybhxray  물건이 잘 안팔리면 가격을 낮추면 된다 . 삼성은 중국기업들을 벤치마킹해라 . 자꾸...
8              최준혁              영원한 일등은 없다.. 앞으로 또 새로운분야에서 발전하면 되는거다.
9              구름은           삼성 스마트폰도 좋은데, 굳이 왜 아이폰을 쓰는지...애국이 따로 있냐?