In [31]:
from selenium import webdriver
from bs4 import BeautifulSoup
import pandas as pd
import time

# HTML 문서 불러오기

In [25]:
driver = webdriver.Chrome()
# time.sleep(3)

driver.get('https://news.google.com/covid19/map?hl=ko&gl=KR&ceid=KR%3Ako')
html = driver.page_source
soup = BeautifulSoup(html, 'html.parser')

covid_list = soup.select('tr.sgXwHf.wdLSAe')
print(covid_list[0].prettify())

driver.close()

<tr class="sgXwHf wdLSAe ROuVee" data-id="/m/02j71" jsaction="click:KoQL8" jslog="110767; track:click">
 <th class="l3HOY" role="rowheader" scope="row">
  <div class="TWa0lb">
   <div class="ggJ3df" jsaction="JIbuQc:ROTNpb" jslog="113728; track:click">
    <button aria-label="고정 해제됨" class="VfPpkd-Bz112c-LgbsSe yHy1rc eT1oJ Vs1w5b" data-disable-idom="true" data-n-mid="/m/02j71" jsaction="click:cOuCgd; mousedown:UX7yZ; mouseup:lbsD7e; mouseenter:tfO1Yc; mouseleave:JywGue; touchstart:p6p2H; touchmove:FwuNnf; touchend:yfqBxc; touchcancel:JMtRjd; focus:AHmuwe; blur:O22p3e; contextmenu:mg9Pef;" jscontroller="soHxf">
     <div class="VfPpkd-Bz112c-Jh9lGc">
     </div>
     <span aria-hidden="true" class="VfPpkd-kBDsod gsIK3e">
      <svg class="Xa3RBb NMm5M" focusable="false" height="16" viewbox="0 0 24 24" width="16">
       <path d="M0 0h24v24H0z" fill="none" stroke="#000" stroke-opacity=".008" stroke-width="0">
       </path>
       <path d="M17 4v7l2 3v2h-6v5l-1 1-1-1v-5H5v-2l2-3V4c0-1.1.9-2 2-2h6c1.11 0 2 .89 2 2zM9 4v7.75L7.5 14h9L15 11.75V4H9z">
       </path>
      </svg>
     </span>
    </button>
   </div>
   <img alt="" class="oIC36d" loading="lazy" src="https://www.gstatic.com/images/icons/material/system_gm/1x/language_googblue_24dp.png"/>
   <div class="pcAJd">
    전 세계
   </div>
  </div>
 </th>
 <td class="l3HOY">
  210,325,635
 </td>
 <td aria-label="데이터 없음" class="l3HOY">
  <span class="EtcnFb CjOhJb">
   데이터 없음
  </span>
 </td>
 <td class="l3HOY">
  <img alt="60일 동향 차트" aria-label="60일 동향 차트" class="dt3Iuf zC7z7b nBjBX" loading="lazy" src="//www.gstatic.com/covid-trends/images/NC60/_m_02j71.svg"/>
  <img alt="60일 동향 차트" aria-label="60일 동향 차트" class="dt3Iuf krHqHb nBjBX" loading="lazy" src="//www.gstatic.com/covid-trends/images/NC60/_m_02j71_dark.svg"/>
 </td>
 <td class="l3HOY">
  27,049
 </td>
 <td class="l3HOY">
  4,408,713
 </td>
</tr>

In [44]:
covid = covid_list[0]
for c in covid:
    print(c.text)

전 세계
210,325,635
데이터 없음

27,049
4,408,713

In [55]:
# parsing text 
covid_data = [c.text for c in covid_list[0].select('.l3HOY')]

# unpack covid
location, total, new, _, per_1m, deaths = covid_data

print(f'Location: {location}')
print(f'Total cases: {total}')
print(f'New cases: {new}')
print(f'Cases per 1m: {per_1m}')
print(f'Deaths: {deaths}')

Location: 전 세계
Total cases: 210,325,635
New cases: 데이터 없음
Cases per 1m: 27,049
Deaths: 4,408,713

In [60]:
data = []

for covid_info in covid_list:
    covid_data = [c.text for c in covid_info.select('.l3HOY')]
    location, total, new, _, per_1m, deaths = covid_data
    
    data.append([location, total, new, per_1m, deaths])
    
#     print('-'*50)
#     print(f'Location: {location}')
#     print(f'Total cases: {total}')
#     print(f'New cases: {new}')
#     print(f'Cases per 1m: {per_1m}')
#     print(f'Deaths: {deaths}')

pd.DataFrame(data, columns=['location', 'total', 'new', 'per_1m', 'deaths'])
# 지금 페이지에서 idx는 쓰이지 않는 것 같은데 enumerate 함수를 쓰신 이유가 있으신가요???

     location        total      new   per_1m     deaths
0        전 세계  210,325,635   데이터 없음   27,049  4,408,713
1          미국   37,657,643  199,606  114,268    627,631
2          인도   32,358,829   36,571   23,784    433,589
3         브라질   20,494,212   36,315   96,974    572,641
4         러시아    6,592,705   20,459   44,926    170,716
5         프랑스    6,430,319   23,950   95,866    111,808
6          영국    6,392,160   36,273   96,216    131,373
7          터키    6,157,742   19,320   74,051     53,891
8       아르헨티나    5,116,803   10,596  113,862    109,841
9        콜롬비아    4,880,516    3,193   98,805    123,901
10        스페인    4,758,003   12,445  101,018     83,004
11         이란    4,587,683   31,266   55,054    100,255
12       이탈리아    4,464,005    7,240   74,099    128,634
13      인도네시아    3,930,300   22,053   14,725    122,633
14         독일    3,854,529    8,303   46,357     91,963
15        멕시코    3,175,374   23,169   25,086    251,305
16        폴란드    2,886,079      196   75,199     75,311
17  남아프리카 공화국    2,652,652   13,671   45,132     78,694
18      우크라이나    2,362,052    2,159   56,401     56,352
19         페루    2,138,666    1,371   66,560    197,716
20       네덜란드    1,911,699    2,488  109,546     17,933
21        이라크    1,809,376    8,012   46,243     19,958
22        필리핀    1,791,003   14,508   16,509     30,881
23         체코    1,677,029      212  156,821     30,382
24         칠레    1,631,689      858   85,396     36,524
25      말레이시아    1,489,460   22,948   45,497     13,480
26        캐나다    1,465,898   데이터 없음   38,597     26,789
27      방글라데시    1,447,210    6,566    8,595     24,878
28         일본    1,232,585   25,073    9,786     15,553
29        벨기에    1,161,558    2,192  100,791     25,312
30       파키스탄    1,116,886    3,239    5,096     24,783
31        스웨덴    1,115,566    1,288  107,957     14,664
32       루마니아    1,089,189      595   56,129     34,379
33       포르투갈    1,012,125    2,554   98,488     17,613
34         태국      989,859   20,902   14,888      8,586
35       이스라엘      970,606    8,413  105,731      6,752
36        헝가리      810,781      123   82,963     30,046
37        모로코      791,559    9,462   22,076     11,472
38      카자흐스탄      790,205    7,687   42,315     11,725
39        요르단      787,367      782   73,935     10,264
40        스위스      750,186    2,790   87,368     10,934